@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@400;700;900&display=swap');

* {box-sizing:border-box;}
body {margin:0; background-color: #250101;}
img {width: 100%;}
a {text-decoration: none;}

nav ul {
    display: flex;
    list-style-type:none;
  }
nav li {
    flex: 1;
    background-color:#8B0303;
  }
nav li:last-child {
    margin-right:0;
  }

nav a {
    text-decoration: none;
    color: #F2B366;
    display: inline-block;
    width: 100%;
    height:100%;
  }
nav a:hover {
    color:saddlebrown;
  }

ul {
    display: flex;
    list-style-type:none;
    margin-left:150px;
    margin-right:150px;
  }
  
li {
    text-align: center;
    font-family: 'Limelight', serif;
    font-size: 36px;
    font-weight: bold;
    flex: 1;
    padding: 10px;
    }

.subscribe1 {
  background-color: white;
  margin-right:50px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.subscribe2 {
  background-color: #F2B366;
  margin-right:50px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.logo {
  width: 640px;
  height: 675px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.covid {
  color: white;
  text-align: center;
  margin-left: 550px;
  margin-right: 550px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #F2B366;
  text-align: center;
  font-size: 96px;
  margin-top: 50px;
}

main {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  color: white;
  display: flex;  
}

.event {
  font-family: 'Limelight', serif;
  font-size: 48px;
  color:white;
  width: 100%; 
}

.month {
  font-family: 'Poppins', sans-serif;
}

.date {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bolder;
}

.day {
  font-family: 'Poppins', sans-serif;
}

.poster {
  width:300px;
  height: 100%;
}

.time {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bolder;
}

.doors {
  font-family: 'Poppins', sans-serif;
}

.buytickets {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: #250101;
  background-color: #F2B366;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.loungediv {
  display: flex;
  margin-top: 100px;
}

.loungetext {
  color:white;
  font-family: 'Poppins', sans-serif;
  margin-right: 200px;
  margin-left: 200px;
}

.loungepic {
  margin-right: 200px;
  margin-left: 200px;
  width: 100%;
}

.about {
  column-count: 2;
  column-gap: 50px;
  color:white;
  font-family: 'Poppins', sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  color: white;
  font-family: 'Limelight', serif;
  text-align: center;
}
